---
import Layout from '../../layouts/Layout.astro';
---

<!-- TRACKING DASHBOARD -->
<Layout>
  <div class="w-full max-w-[100%] h-[245px] bg-primary rounded-lg relative p-6 mb-6">
    <!-- Header -->
    <div class="text-textColor-primary text-2xl font-semibold mb-6">Quick Summary</div>

    <!-- Summary Card -->
    <div class="w-full h-[115px] bg-primary border border-border_color rounded-lg flex justify-between items-center px-6">
      
      <!-- Block 1 -->
      <div class="flex flex-col text-left">
        <span class="text-textColor-tertiary text-lg font-medium">Warehouses</span>
        <span class="text-textColor-primary text-2xl font-medium">8</span>
      </div>

      <!-- Divider -->
      <div class="w-px h-14 bg-border_color"></div>

      <!-- Block 2 -->
      <div class="flex flex-col text-left">
        <span class="text-textColor-tertiary text-lg font-medium">Items in Transit</span>
        <span class="text-textColor-primary text-2xl font-medium">5</span>
      </div>

      <!-- Divider -->
      <div class="w-px h-14 bg-border_color"></div>

      <!-- Block 3 -->
      <div class="flex flex-col text-left">
        <span class="text-textColor-tertiary text-lg font-medium">Successfully Received</span>
        <span class="text-textColor-primary text-2xl font-medium">23</span>
      </div>

      <!-- Divider -->
      <div class="w-px h-14 bg-border_color"></div>

      <!-- Block 4 -->
      <div class="flex flex-col text-left">
        <span class="text-textColor-tertiary text-lg font-medium">Pending</span>
        <span class="text-textColor-primary text-2xl font-medium">6</span>
      </div>

    </div>
  </div>
  <div class="w-full max-w-[100%] bg-primary rounded-md mx-auto p-6 text-textColor-primary font-poppins">
    
    <!-- Header Row -->
    <div class="flex justify-between items-center mb-6">
      <div class="flex items-center space-x-4">
        <h2 class="text-2xl font-semibold">Recent Shipments</h2>

        <!-- Receive Products Button -->
        <a href="/tracking/shipment-history" class="flex items-center border border-border_color rounded-md px-4 py-2 hover:bg-btn-hover hover:text-textColor-secondary transition">
			<!-- Icon -->
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6 mr-2">
              <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
              <path fill-rule="evenodd"
                    d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087ZM12 10.5a.75.75 0 0 1 .75.75v4.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06l1.72 1.72v-4.94a.75.75 0 0 1 .75-.75Z"
                    clip-rule="evenodd" />
            </svg>
            <span class="text-xl">Receive Product</span>
          </div>
		    </a>

      </div>

      <a href="/tracking/shipment-history" class="text-btn-primary text-xl cursor-pointer hover:underline">See All</a>
    </div>

    <!-- Table -->
    <div>
      <!-- Table Header -->
      <div class="grid grid-cols-4 text-xl font-semibold border-b border-border_color pb-2 mb-4">
        <span>Shipment ID</span>
        <span class="text-center">Name</span>
        <span class="text-center">Quantity</span>
        <span class="text-center">Status</span>
      </div>

      <!-- Table Rows -->
      <div class="space-y-2 text-xl">
        <div class="grid grid-cols-4 items-center border-b border-border_color py-2">
          <span>A2B1</span>
          <span class="text-center">Sardines</span>
          <span class="text-center">120</span>
          <span class="text-center text-green-500 font-semibold">RECEIVED</span>
        </div>
        <div class="grid grid-cols-4 items-center border-b border-border_color py-2">
          <span>B4B1</span>
          <span class="text-center">PS4</span>
          <span class="text-center">30</span>
          <span class="text-center text-orange-500 font-semibold">DELIVERED</span>
        </div>
        <div class="grid grid-cols-4 items-center border-b border-border_color py-2">
          <span>C1A1</span>
          <span class="text-center">Clothes</span>
          <span class="text-center">1000</span>
          <span class="text-center text-red-500 font-semibold">PENDING</span>
        </div>
        <div class="grid grid-cols-4 items-center border-b border-border_color py-2">
          <span>A2B1</span>
          <span class="text-center">Sardines</span>
          <span class="text-center">120</span>
          <span class="text-center text-green-500 font-semibold">RECEIVED</span>
        </div>
      </div>
    </div>
  </div>
  
  <!---RECENT TRANSFERS TABLE-->
  <div class="w-full max-w-[100%] bg-primary rounded-md mx-auto p-6 text-textColor-primary font-poppins transition-colors mt-10">
    
    <!-- Header Row -->
    <div class="flex justify-between items-center mb-6">
      <div class="flex items-center space-x-4">
        <h2 class="text-2xl font-semibold">Recent Transfers</h2>
        <!-- Transfer Products Button -->
        <a href="/tracking/Transfer_product"class="flex items-center border border-border_color rounded-md px-4 py-2 hover:bg-btn-hover hover:text-textColor-secondary transition">
          <!-- Icon -->
          <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24" fill="currentColor"class="size-6 mr-2">
            <path fill-rule="evenodd" d="M15.97 2.47a.75.75 0 0 1 1.06 0l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 1 1-1.06-1.06l3.22-3.22H7.5a.75.75 0 0 1 0-1.5h11.69l-3.22-3.22a.75.75 0 0 1 0-1.06Zm-7.94 9a.75.75 0 0 1 0 1.06l-3.22 3.22H16.5a.75.75 0 0 1 0 1.5H4.81l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 0Z"clip-rule="evenodd" />
          </svg>
          <span class="text-xl font-medium">Transfer Products</span>
        </a>
      </div>

      <a href="/tracking/Transfer_product" class="text-btn-primary text-xl cursor-pointer hover:underline">See All</a>
    </div>

    <!-- Table -->
    <div>
      <!-- Table Header -->
      <div class="grid grid-cols-5 text-xl font-semibold border-b border-border_color pb-2 mb-4">
        <span>Transfer ID</span>
        <span class="text-center">Name</span>
        <span class="text-center">Transferred Qty.</span>
        <span class="text-center">From</span>
        <span class="text-center">To</span>
      </div>

      <!-- Table Rows -->
      <div class="space-y-2 text-xl">
        <!-- Row 1 -->
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>T1</span>
          <span class="text-center">Soap</span>
          <span class="text-center">120</span>
          <span class="text-center">W1</span>
          <span class="text-center">W2</span>
        </div>

        <!-- Row 2 -->
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>T2</span>
          <span class="text-center">Juice</span>
          <span class="text-center">80</span>
          <span class="text-center">W2</span>
          <span class="text-center">W3</span>
        </div>

        <!-- Row 3 -->
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>T3</span>
          <span class="text-center">Meat</span>
          <span class="text-center">50</span>
          <span class="text-center">W3</span>
          <span class="text-center">W1</span>
        </div>

        <!-- Row 4 -->
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>T4</span>
          <span class="text-center">Meat</span>
          <span class="text-center">50</span>
          <span class="text-center">W3</span>
          <span class="text-center">W1</span>
        </div>
      </div>
    </div>
  </div>

</Layout>


