---
import Layout from '../../layouts/Layout.astro';
import Transfer from '../../components/tracking/Transfer.jsx'; // adjust the path if needed
---
<Layout>
  <div class="p-4">
    <Transfer client:load />
  </div>
</Layout>
 