---
import Layout from '../../layouts/Layout.astro';
import StockInTable from '../../components/transactions/StockInTable.jsx';
import StockOutTable from '../../components/transactions/StockOutTable.jsx';

const limit = 4;
---

<!-- STOCK TRANSACTION DASHBOARD -->
<Layout title="Stock Transaction Dashboard">
	<div class="flex flex-col gap-4">

		<!-- STOCK IN TRANSACTION TABLE -->
		<div class="flex flex-col gap-1 w-full bg-primary p-4 rounded-lg">
			<div class="w-full flex justify-between">
				<h1 class="text-xl font-bold">Stock In Transactions</h1>
				<a href="/transaction/stock-in/" class="w-fit">
					<button class="text-btn-primary hover:text-purple-300 text-sm sm:text-base cursor-pointer">See All</button>
				</a>
			</div>
			<div class="p-2">
				<StockInTable limit={limit} isAbleToSort={false} client:load/>
			</div>
		</div>
	
		<!-- STOCK OUT TRANSACTION TABLE -->
		<div class="flex flex-col gap-1 w-full bg-primary p-4 rounded-lg">
			<div class="w-full flex justify-between">
				<h1 class="text-xl font-bold">Stock Out Transactions</h1>
				<a href="/transaction/stock-out/">
					<button class="text-btn-primary hover:text-purple-300 text-sm sm:text-base cursor-pointer">See All</button>
				</a>
			</div>
			<div class="p-2">
				<StockOutTable limit={limit} isAbleToSort={false} client:load/>
			</div>
		</div>
	
		<!-- TRANSACTION LOGS BUTTON -->
		<a href="/transaction/logs/" class="w-fit rounded-full bg-btn-primary p-3 absolute bottom-7 right-5 hover-trigger" title="See Transaction Logs">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="2.55rem" fill="#B7B7B7">
				<path d="M480-120q-138 0-240.5-91.5T122-440h82q14 104 92.5 172T480-200q117 0 198.5-81.5T760-480q0-117-81.5-198.5T480-760q-69 0-129 32t-101 88h110v80H120v-240h80v94q51-64 124.5-99T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"/>
			</svg>
		</a>
	</div>
</Layout>
