---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col gap-4">
		<h1>DEMO PAGE</h1>
		<div>
			<button onclick="addTransaction()" class="bg-btn-primary hover:bg-btn-hover text-white p-2 rounded-lg cursor-pointer">
				Add Transaction
			</button>
			<div id="added-transaction"></div>
		</div>
	</div>

	<script is:inline>
		const addTransaction = async () => {
			alert("Add Transaction");
			const res = await fetch("/api/transactions/insert-new-transaction", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({
					transaction_type: "stock_in",
					invoice_no: "INV-" + Date.now(),
					total_quantity: 150,
					total_price: 7500.5,
					status: "Completed",
					created_by: "user@example.com",
					supplier_id: 1,
					warehouse_id: null,
					items: [
						{ item_id: 101, quantity: 100, expiration_date: "2026-12-31" },
						{ item_id: 102, quantity: 50, expiration_date: null },
					],
				}),
			});
			// debugger;
			const data = await res.json();
			console.log(data);

			const addedTransaction = document.getElementById("added-transaction");
			addedTransaction.innerHTML = JSON.stringify(data);
		};
	</script>
</Layout>
