---
import Layout from '../../layouts/Layout.astro';
import DashboardSummary from '../../components/reports/Summary.jsx';
import QuickSummary from '../../components/reports/QuickSummary.jsx';
---

<!-- REPORT DASHBOARD -->
<Layout>
    <div class="w-full grid grid-cols-5 grid-rows-1 gap-4 ">
        <!-- Quick Summary Section -->
        <div class="bg-primary col-span-5 row-span-1 p-6 rounded-lg">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-textColor-primary text-lg sm:text-xl lg:text-2xl font-semibold">Quick Summary</h2>
            </div>
            <QuickSummary client:load />
        </div>
    </div>
    <div class="w-full min-h-screen grid grid-cols-4 grid-rows-2 gap-4 pt-4">

        <!-- Inventory Stock Section -->
        <div class="bg-primary col-span-2 row-span-1 rounded-lg flex flex-col min-h-[400px]">
            <div class="bg-primary rounded-lg p-6 flex flex-col h-full">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-textColor-primary text-lg sm:text-xl font-semibold">Inventory Stock</h2>
                    <a href="/reports/Inventory">
                        <button class="text-btn-primary hover:text-purple-300 text-sm sm:text-base">See All</button>
                    </a>
                </div>
                <DashboardSummary section="inventory" client:load />
            </div>
        </div>
        <!-- Warehouse Capacity Section -->
        <div class="bg-primary col-span-2 row-span-1 rounded-lg flex flex-col min-h-[400px]">
            <div class="bg-primary rounded-lg p-6 flex flex-col h-full">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-textColor-primary text-lg sm:text-xl font-semibold">Warehouse Capacity</h2>
                    <a href="/reports/Warehouse">   
                    <button class="text-btn-primary hover:text-purple-300 text-sm sm:text-base">See All</button>
                    </a>
                </div>
                <DashboardSummary section="warehouse" client:load />
            </div>
        </div>
        <div class="bg-primary col-span-4 row-span-1 rounded-lg flex flex-col min-h-[400px]">
            <!-- Low Stock Items - Purchase Order Section -->
        <div class="bg-primary rounded-lg p-6 flex flex-col h-full">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-textColor-primary text-lg sm:text-xl font-semibold">Low Stock Items - Purchase Order</h2>
                <a href="/reports/LowStock" class="text-btn-primary hover:text-purple-300 text-sm sm:text-base">See All</a>
            </div>
            <DashboardSummary section="lowstock" client:load />
        </div>

        <!-- History Section -->
		<a href="/reports/logs" class="w-fit rounded-full bg-btn-primary p-3 absolute bottom-7 right-5 hover-trigger" title="See Transaction Logs">

			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="2.55rem" fill="white">
				<path d="M480-120q-138 0-240.5-91.5T122-440h82q14 104 92.5 172T480-200q117 0 198.5-81.5T760-480q0-117-81.5-198.5T480-760q-69 0-129 32t-101 88h110v80H120v-240h80v94q51-64 124.5-99T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"/>
			</svg>
		</a>
    </div>

    <!-- Invisible hover area in bottom right corner -->
    <div class="hover-area"></div>


</Layout>