---
// Accept all incoming props
const { class: className } = Astro.props;
---


<div class="fixed top-0 left-0 bottom-0 right-0 bg-[rgba(0,0,0,0.5)] z-50 w-full h-full flex justify-center items-center">
	<div class="bg-primary absolute min-w-[30%] min-h-[70%] {className ?? ''}">
		<slot />
	</div>
</div>