---
import Layout from '../../layouts/Layout.astro';
import Modal from '../../components/general/Modal.astro';
import Table from '../../components/general/Table.astro';
---

<!-- STOCK TRANSACTION DASHBOARD -->
<Layout>
	Stock Transaction

	<Table>
		<tr>
			<td>ashdoi</td>
			<td>asdj</td>
		</tr>
	</Table>
	<!-- <Modal class="">
		TEST MODAL
	</Modal> -->
</Layout>