---
import Layout from '../../layouts/Layout.astro';
import Modal from '../../components/Modal.astro';
import Table from '../../components/table/Table.astro';
import Cell from '../../components/table/Cell.astro';
import TableRow from '../../components/table/TableRow.astro';
import Thead from '../../components/table/Thead.astro';
import Button from '../../components/Button.astro';
---

<!-- STOCK TRANSACTION DASHBOARD -->
<Layout>
	<div class="flex flex-col gap-1 w-full bg-primary p-4 rounded">
		<Button class="text-btn-primary w-[20%]">See Transaction Logs</Button>
	</div>

	<div class="flex flex-col gap-1 w-full bg-primary p-4 mt-4">
		<div class="w-full">
			<h1 class="text-xl font-bold">Stock In Transactions</h1>
			<Button href="#" class="text-btn-primary border-none w-fit">See All</Button>
		</div>
		<Table class="w-full" containerClass="w-full">
			<Thead class="w-full">
				<Cell>Reference No</Cell>
				<Cell>Date</Cell>
				<Cell>Supplier</Cell>
				<Cell>Status</Cell>
				<Cell>Action</Cell>
			</Thead>
			<TableRow>
				<Cell>096776534</Cell>
				<Cell>23/07/2023</Cell>
				<Cell>Eco Foods Corp</Cell>
				<Cell>Pending</Cell>
				<Cell>Action</Cell>
			</TableRow>
		</Table>
	</div>
</Layout>