---
import Layout from '../../layouts/Layout.astro';

import { URL } from 'node:url';

const url = new URL(Astro.request.url);
const isShow = url.searchParams.get("showSupplier");
const showSupplierDetails = isShow !== 'false';
---

<Layout>
	<div class="bg-primary px-6 py-4">
		<div class="flex justify-between h-header">
			<div>
				<h1 class="font-semibold text-2xl">Transaction Details</h1>
				<p class="text-border_color">Detailed breakdown of the transaction.</p>
			</div>
			<a href="/stockTransaction/Dashboard/" class="p-2 text-textColor-primary hover:bg-btn-hover hover:text-white rounded">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
				</svg>
			</a>
		</div>

		<div class="dispaly flex">
			<div class="w-[50%] flex flex-col gap-6">
				<h2 class="font-semibold text-xl">Item Details</h2>

				<div class="bg-background border-[0.5px] border-border_color px-4 py-2 w-full">
					<table class="w-full">
						<thead class="">
							<th class="table-header bg-background text-left">Item</th>
							<th class="table-header bg-background text-left">Quantity</th>
							<th class="table-header bg-background">Expiry Date</th>
						</thead>
						<tbody>
							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>
							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>

							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>
							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>

							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>
							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>

							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>
							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>

							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>
							<tr class="table-row">
								<td class="table-data bg-background">Product Item 1</td>
								<td class="table-data bg-background">100</td>
								<td class="table-data bg-background text-center">30/12/2027</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h2 class="text-lg font-semibold">Total Items Quantity: 900</h2>
			</div>

			<div class="w-[50%] flex flex-col px-20 gap-12">
				<div class="w-[40%] flex flex-col">
					<h2 class="text-lg font-semibold mb-2">Primary Details</h2>
					<hr class="mb-4" />
					<table class="w-full space-y-2">
						<tr class="py-2">
							<td class="text-right px-4 py-2">Reference no</td>
							<td class="py-2">25344328</td>
						</tr>
						<tr class="py-2">
							<td class="text-right px-4 py-2">Date</td>
							<td class="py-2">30/12/2027</td>
						</tr>
						<tr class="py-2">
							<td class="text-right px-4 py-2">Status</td>
							<td class="py-2 text-green">Delivered</td>
						</tr>
					</table>
				</div>

				{showSupplierDetails && (
				<div class="w-[40%] flex flex-col">
					<h2 class="text-lg font-semibold mb-2">Supplier Details</h2>
					<hr class="mb-4" />
					<table class="w-full space-y-2">
						<tr class="py-2">
							<td class="text-right px-4 py-2">Supplier</td>
							<td class="py-2">Ecco Foods Corp</td>
						</tr>
						<tr class="py-2">
							<td class="text-right px-4 py-2">Contact No</td>
							<td class="py-2">09483729464</td>
						</tr>
						<tr class="py-2">
							<td class="text-right px-4 py-2">Location</td>
							<td class="py-2">Address 123</td>
						</tr>
					</table>
				</div>
				)}
			</div>
		</div>
	</div>
</Layout>
