---
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';
import DateTimeInput from '../../components/DateTimeInput.astro';
import LogsTable from '../../components/transactions/LogsTable.jsx';
---

<Layout>
	<DateTimeInput />

	<div class="flex flex-col gap-1 w-full bg-primary p-4 mt-4">

		<div class="w-full flex justify-between">
			<h1 class="text-xl font-bold">Transaction Logs</h1>
			<a href="/stockTransaction/Dashboard/">
				<Button class="text-btn-primary border-none w-fit hover:text-btn-primary">Back</Button>
			</a>
		</div>

		<div class="p-2 flex flex-col gap-4">

			<LogsTable client:load limit="10" />

			<div class="flex justify-between items-center flex-shrink-0">
				<button class="hover:bg-btn-primary text-textColor-secondary px-4 py-2 rounded font-medium transition-colors text-sm">
					Previous
				</button>
				<span class="text-textColor-primary text-sm">Page 1 of 1</span>
				<button class="hover:bg-btn-primary text-textColor-secondary px-4 py-2 rounded font-medium transition-colors text-sm">
					Next
				</button>
			</div>
		</div>
	</div>

</Layout>
