---
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';
import DateTimeInput from '../../components/DateTimeInput.astro';
import StockInTable from '../../components/transactions/StockInTable.jsx';
---

<Layout>
	<DateTimeInput />

	<div class="flex flex-col gap-1 w-full bg-primary p-4 mt-4">
		
		<div class="w-full flex justify-between">
			<h1 class="text-xl font-bold">Stock In Transactions</h1>
			<a href="/stockTransaction/Dashboard/">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon	">
					<path fillRule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clipRule="evenodd" />
				</svg>
			</a>
		</div>

		<div class="p-2 flex flex-col gap-4">
			<StockInTable limit="10" client:load />

			<div class="flex justify-between items-center flex-shrink-0">
				<button class="hover:bg-btn-primary text-textColor-secondary px-4 py-2 rounded font-medium transition-colors text-sm">
					Previous
				</button>
				<span class="text-textColor-primary text-sm">Page 1 of 1</span>
				<button class="hover:bg-btn-primary text-textColor-secondary px-4 py-2 rounded font-medium transition-colors text-sm">
					Next
				</button>
			</div>
		</div>

	</div>
	
</Layout>
