---
// Accept all incoming props
const { class: className, containerClass: container } = Astro.props;
---

<div class={`px-4 py-2 bg-primary block w-fit ${container ?? ''}`}>
	<table class={`bg-primary p-4 text-textColor-primary ${className ?? ''}`}>
		<slot />
	</table>
</div>
