---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
      <!-- INVENTORY OVERVIEW -->
    <section id="overviewSection">
      <!-- Inventory Summary -->
      <div class="bg-primary p-6 rounded-lg mb-6 ">
        <h2 class="text-xl font-semibold mb-4">Quick Summary</h2>
        <div class="grid grid-cols-4 gap-6 text-center">
          <div><p class="text-textColor-primary text-sm">Total Products</p><p class="text-lg font-bold">100</p></div>
          <div><p class="text-textColor-primary text-sm">Categories</p><p class="text-lg font-bold">5</p></div>
          <div><p class="text-textColor-primary text-sm">Low Stock Products</p><p class="text-lg font-bold">23</p></div>
          <div><p class="text-textColor-primary text-sm">Out of Stock Products</p><p class="text-lg font-bold">6</p></div>
        </div>
      </div>

      <!-- Product Table Preview -->
      <div class="bg-primary p-6 rounded-lg">
        <div class="flex justify-between mb-4">
          <div class="flex gap-2 items-center">
            <h2 class="text-xl font-semibold mb-4">Product Inventory</h2>
            <!-- <select id="filterCategory" onchange="filterTable()" class="bg-[#2b2b2b] text-white px-3 py-2 rounded">
              <option value="">All Category</option>
              <option value="Grains">Grains</option>
              <option value="Condiments">Condiments</option>
              <option value="Carbs">Carbs</option>
            </select> -->
          </div>
          <div class="flex gap-2">
            <a href="/inventory/Additem/"><button class="flex items-center border border-border_color rounded-md px-4 py-2 hover:bg-btn-primary hover:text-textColor-secondary transition">Add Products</button>
            <a href="/inventory/Dashboard2ndpage/"><button class="flex items-center border border-border_color rounded-md px-6 py-2 hover:bg-btn-primary hover:text-textColor-secondary transition">View all</button></a>
          </div>
        </div>
        
       
          
          
        
          <!-- Table -->
    <div>
      <!-- Table Header -->
      <div class="grid grid-cols-5 text-xl font-semibold border-b border-border_color pb-2 mb-4">
        <span>Item Code</span>
        <span class="text-center">Item Name</span>
        <span class="text-center">Category</span>
        <span class="text-center">Unit</span>
        <span class="text-center">Auto Re-order Status</span> 
        
      </div>

      <!-- Table Rows -->
      <div class="space-y-2 text-xl">
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1001</span>
          <span class="text-center">Product 1</span>
          <span class="text-center">Grains</span>
          <span class="text-center">10Kg</span>
          <span class="text-center text-green-500">Yes</span>
          
        </div>
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1002</span>
          <span class="text-center">Product 2</span>
          <span class="text-center">Condiments</span>
          <span class="text-center">Liter</span>
          <span class="text-center text-green-500">Yes</span>
        </div>
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1003</span>
          <span class="text-center">Product 3</span>
          <span class="text-center">Carbs</span>
          <span class="text-center">N/A</span>
          <span class="text-center text-green-500">Yes</span>
        </div>
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1004</span>
          <span class="text-center">Product 4</span>
          <span class="text-center">Condiments</span>
          <span class="text-center">Liter</span>
          <span class="text-center text-red-500 ">No</span>
        </div>
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1005</span>
          <span class="text-center">Product 5</span>
          <span class="text-center">Condiments</span>
          <span class="text-center">Liter</span>
          <span class="text-center text-green-500">Yes</span>
        </div>
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1006</span>
          <span class="text-center">Product 6</span>
          <span class="text-center">Carbs</span>
          <span class="text-center">Grams</span>
          <span class="text-center text-green-500">Yes</span>
        </div>
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1007</span>
          <span class="text-center">Product 7</span>
          <span class="text-center">Condiments</span>
          <span class="text-center">Liter</span>
          <span class="text-center text-red-500 ">No</span>
        </div>
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1008</span>
          <span class="text-center">Product 8</span>
          <span class="text-center">Condiments</span>
          <span class="text-center">Liter</span>
          <span class="text-center text-red-500 ">No</span>
        </div>
        <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
          <span>1009</span>
          <span class="text-center">Product 9</span>
          <span class="text-center">Condiments</span>
          <span class="text-center">Liter</span>
          <span class="text-center text-red-500 ">No</span>
        </div>
          
        
          
        </table>
      </div>
    </section>

  </main>
</div>

</Layout>