---
import Layout from '../../layouts/Layout.astro';
---
<Layout>

    <section id="viewAllSection">
        <div class="bg-primary p-6 rounded-lg">
            <div class="flex justify-between mb-4">
                <div class="flex gap-2">
                    <a href="/inventory/Additem/"><button
                            class="flex items-center border border-border_color rounded-md px-4 py-2 hover:bg-btn-primary hover:text-textColor-secondary transition">Add
                            Products</button>
                        <a href="/inventory/Dashboard/"><button
                                class="group flex items-center gap-1 px-4 py-2 hover:text-btn-primary transition text-base">
                                <span>Go Back</span>
                                <span class="transform transition-transform duration-200 group-hover:translate-x-1">
                                    &#10229;</span>
                            </button></a>
                </div>
            </div>

            <div>
                <!-- Table Header -->
                <div class="grid grid-cols-5 text-xl font-semibold border-b border-border_color pb-2 mb-4">
                    <span>Item Code</span>
                    <span class="text-center">Item Name</span>
                    <span class="text-center">Category</span>
                    <span class="text-center">Unit</span>
                    <span class="text-center">Auto Re-order Status</span>

                </div>

                <!-- Table Rows -->
                <div class="space-y-2 text-xl">
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1011</span>
                        <span class="text-center">Product 1</span>
                        <span class="text-center">Grains</span>
                        <span class="text-center">10Kg</span>
                        <span class="text-center text-green-500">Yes</span>

                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1012</span>
                        <span class="text-center">Product 2</span>
                        <span class="text-center">Condiments</span>
                        <span class="text-center">Liter</span>
                        <span class="text-center text-green-500">Yes</span>
                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1013</span>
                        <span class="text-center">Product 3</span>
                        <span class="text-center">Carbs</span>
                        <span class="text-center">N/A</span>
                        <span class="text-center text-green-500">Yes</span>
                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1014</span>
                        <span class="text-center">Product 4</span>
                        <span class="text-center">Condiments</span>
                        <span class="text-center">Liter</span>
                        <span class="text-center text-red-500 ">No</span>
                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1015</span>
                        <span class="text-center">Product 5</span>
                        <span class="text-center">Condiments</span>
                        <span class="text-center">Liter</span>
                        <span class="text-center text-green-500">Yes</span>
                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1016</span>
                        <span class="text-center">Product 6</span>
                        <span class="text-center">Carbs</span>
                        <span class="text-center">Grams</span>
                        <span class="text-center text-green-500">Yes</span>
                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1017</span>
                        <span class="text-center">Product 7</span>
                        <span class="text-center">Condiments</span>
                        <span class="text-center">Liter</span>
                        <span class="text-center text-red-500 ">No</span>
                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1018</span>
                        <span class="text-center">Product 8</span>
                        <span class="text-center">Condiments</span>
                        <span class="text-center">Liter</span>
                        <span class="text-center text-red-500 ">No</span>
                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1019</span>
                        <span class="text-center">Product 9</span>
                        <span class="text-center">Condiments</span>
                        <span class="text-center">Liter</span>
                        <span class="text-center text-red-500 ">No</span>
                    </div>
                    <div class="grid grid-cols-5 items-center border-b border-border_color py-2">
                        <span>1011</span>
                        <span class="text-center">Product 10</span>
                        <span class="text-center">Condiments</span>
                        <span class="text-center">Liter</span>
                        <span class="text-center text-green-500 ">Yes</span>
                    </div>



                    </table>
                </div>

                <div class="flex justify-between items-center mt-6 text-sm">

                    <a href="/inventory/Dashboard2ndpage/"><button
                            class="flex items-center border border-border_color rounded-md px-4 py-2 hover:bg-btn-primary hover:text-textColor-secondary transition">Previous</button></a>
                    <p class="text-gray-400">Page 2 of 10</p>
                    <button
                        class=" px-4 py-1 border border-border_color rounded-md hover:bg-btn-primary hover:text-textColor-secondary transition">Next</button>
                </div>
            </div>
    </section>

</Layout>